body {
  background-color: #181A1B;
  color: #FFF;
}

.LeftCol {
  background-color: #242628;
  padding: 20px;
}

.LeftCol img {
  max-width: 100%;
}

.SocialMedia a {
  color: #FFF;
}

.RightCol {
  background-color: #1E2021;
  padding: 20px;
}


.projects {
  padding-top: 25px;
}



.filter-button {
  color: #FFF;
  background-color:#4b4d4e ;
}

.sub-filters button {
  background-color: #2F3132;
  color: #FFF;
}

.filter-content {
  margin-top: 20px;
}

/* .projects {
  background-color: #2F3132;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
} */



.project-img,
.projects h3,
.projects p {
  color: #FFF;
}

.projects h3 {
  font-size: 18px;
  margin-top: 0;
}

.projects p {
  font-size: 14px;
}

.sub-filters {
  margin-top: 20px;
  
}





.projects h3 {
  margin-top: 10px;
}

 .project-thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
} 

.project-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-details {
  display: none;
  margin-top: 10px;
  background-color: #2F3132;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
}



.Content-projects-about {
  overflow-y: scroll;
  height: 85vh; /* Adjust the height as needed */
  min-height: 80vh; /* Adjust the height as needed */
  background-color: #323538;
  margin-top: 15px;

}

.project-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projects-placeholder {
  background-color: #2F3132;
  /* Add any desired background color */
  margin: 10px;
  /* Adjust the margin as needed */
}

.NavBarButtons button {
  padding: 5px;
  /* Add any desired padding value */
}

/* Custom scrollbar styles */
#projects-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px;
}

#projects-container::-webkit-scrollbar-track {
  background: #1E2021; /* Background color of the scrollbar track */
}

/* Custom scrollbar styles */
#projects-container::-webkit-scrollbar-thumb {
  background: #ffffff; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Radius of the scrollbar thumb */
  height: 15px; /* Height of the scrollbar thumb */
}

#projects-container::-webkit-scrollbar-thumb:hover {
  background: #6c16cd; /* Color of the scrollbar thumb on hover */
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.sub-filters {
  margin-top: 15px;
}
.project-thumbnail:hover .overlay {
  opacity: 1;
}

.play-btn {
  color: #FFF;
  font-size: 48px;
}

.projects h3 {
  margin-top: 10px;
}

