body {
  background-color: #181A1B;
  color: #FFF;
  font-family: 'Roboto', sans-serif;

}


/* ================================== MAIN ============================*/


/* =============================== LEFT COLUMN =========================*/
.LeftCol {
  background-color: #242628;
height: 100vh;
}

.LeftCol img {
  max-width: 100%;
}

.SocialMedia a {
  color: #FFF;
}

.SocialMedia a:hover {
  color: #6C16CD;
}


.SocialMedia-path a {
  color: #FFF;

}

.SocialMedia-path a:hover {
  color: #6C16CD;
}

  
.nametitle {
margin-top:15px
}


@media screen and (max-width: 760px) {
  .nametitle {
    text-align: center;
  }
}


/* =============================== RIGHT COLUMN =========================*/

.RightCol {
  background-color: #1E2021;
height: 100vh;
}

.filter-button {
  color: #FFF;
  background-color: #4B4D4E3F;
}

.sub-filter-button {
  background-color: #2F3132;
  color: #FFF;
}

.sub-filter-button.active,
.sub-filter-button:active {
  background-color: #181A1B;
}

.sub-filters {
  margin-top: 15px;
}

.filter-content {
  margin-top: 20px;
}

.projects {
  background-color: #2F3132;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.project-img,
.projects h3,
.projects p {
  color: #FFF;
}

.projects h3 {
  font-size: 18px;
  margin-top: 0;
}

.projects p {
  font-size: 14px;
}

.project-thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.project-container h3 {
 
  margin-top: 15px;
}


.project-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.project-details {
  display: none;
  margin-top: 10px;
  background-color: #2F3132;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
}




.projects-all {
  overflow-y: scroll;
  height: 87vh;
  min-height: 80vh;
  background-color: #323538;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projects-placeholder {
  background-color: #2F3132;
  margin: 10px;
}

.NavBarButtons button {
  padding: 5px;
}

.aboutmetitle {
  padding-top: 10px;

}

.path-logo {
  width: 15px;
  height: 15px;
}

.abandonedbunker img{
width: 100%;
height: 100%;
}

.racingcars img{
  width: 100%;
  height: 100%;  
}

.projects {
  position: relative;
}

.filter-tag {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 4px 8px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #323538;
  

}


/* ======================= CUSTOM SCROLLBAR =======================*/
#projects-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#projects-container::-webkit-scrollbar-track {
  background: #1E2021;
}

#projects-container::-webkit-scrollbar-thumb {
  background: #FFF;
  border-radius: 5px;
  height: 15px;
}

#projects-container::-webkit-scrollbar-thumb:hover {
  background: #6C16CD;
}

